.app-bg-color {
  background-color: #f5f5f5;
}

.app-font-color {
  color: #eeeeee;
}

.navbar-bg-color {
  background-color: #222831;
}

.link-hover-color:hover {
  color: #f69e7b;
}

.product-image {
  max-width: 25rem;
  max-height: 25rem;
  border-radius: 10px;
  transition: transform .2s;
}

.product-image:hover {
  transform: scale(1.02);
}

.product-detail-image {
  max-width: 50vw;
  max-height: 50vh;
  border-radius: 15px;
}

.product-cart-image {
  max-width: 10rem;
  max-height: 10rem;
  border-radius: 15px;
}

.cart-checkout-box-height {
  height: 200px;
}